footer{
    position: fixed;
    bottom: 0;
    right: 20px;
    color: white;
}

.footer-contact {
    color: black; 
  }
@media screen and (max-width:780px){
    footer{
        font-size: 14px;
      }
}
 

@media screen and (max-width:480px) {
    footer{
        font-size: 12px;
    }
}

    